<div class="container mt-4">
    <h2 class="mb-4">Add Course</h2>
    <form (submit)="addCourse()">
        <div class="mb-3">
            <label for="name" class="form-label">Course Name:</label>
            <input type="text" id="name" [(ngModel)]="newCourse.nameCourse" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" [(ngModel)]="newCourse.description" name="description" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" id="price" [(ngModel)]="newCourse.price" name="price" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <input type="file" id="image" (change)="onFileChange($event)" name="image" accept="image/*" class="form-control" required>
            <!-- Display the selected image name -->
            <span *ngIf="selectedFileName">{{ selectedFileName }}</span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add Course</button>
        </div>
    </form>
</div>
